

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Lock files
*.lockb
*.lock
package-lock.json

# Convex
.convex/    
.convexignore
.env.convex
.env.convex.local

# Better Auth
.better-auth/
.better-authignore
.env.better-auth
.env.better-auth.local

# Bun
bun.lockb
bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# VS Code
.vscode/
.cursor/
.cursorrules
.cursorignore

# iOS
ios/

# Android
android/

# Windows
windows/

# Linux
linux/

